.button {
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-padding: 8px 12px;
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.radioButton {
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-padding: 8px 12px;
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.label {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-padding: 8px 12px;
}

.button:hover {
    -fx-background-color: #007bff;;
}

.button:pressed {
    -fx-background-color: #000000;
}

.button .text {
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.cancel-button {
    -fx-background-color: #FF8675;
}

.confirm-button {
    -fx-background-color: #4CAF50;
}

.wall-button {
    -fx-background-color: #FFC107;
}

.slider {
    -fx-background-color: transparent;
}

.slider .track {
    -fx-background-color: #ccc;
}

.slider .thumb {
    -fx-background-color: rgb(128, 128, 192);
    -fx-background-radius: 5px;
    -fx-padding: 8px;
}

.slider .thumb:hover {
    -fx-background-color: rgb(255, 128, 0);
}

.slider .thumb:pressed {
    -fx-background-color: rgb(255, 128, 0);
}

/* Style pour le titre */
/* Style pour le ListView des règles */
.list-view-rules {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-control-inner-background: #333333;
}

.list-view-rules .scroll-bar {
    -fx-background-color: #333333; /* Remplacez par la couleur souhaitée */
}

.label-title {
    -fx-text-fill: #333333;
}

.text-field {
    -fx-font-size: 10.5px;
    -fx-font-family: "Arial";
    -fx-padding: 8px 12px;
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.text-field:hover {
    -fx-background-color: rgb(192, 192, 192);
}

.text-field:focused {
    -fx-background-color: rgb(0, 128, 192);
}

.radio-button {
    -fx-font-size: 10.5px;
    -fx-font-family: "Arial";
    -fx-padding: 8px 12px;
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}






